{% extends "base_generic.html" %}
{% block content %}

  
  <h4 style ="color:blue"> La Tienda tiene hoy lo siguiente: </h4>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="">VESTIDOS</th>
        <th scope="">DISPONIBLES</th>
        <th scope="">ARRENDADOS</th>
        <th scope="">EN MANTENCION</th>
        <th scope="">RESERVADOS</th>
        <th scope="">CLIENTES</th>
        <th scope="">PROVEEDORES</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>{{ vestidos }}</td>
        <td>{{ vestidos_disponibles }}</td>
        <td>{{ vestidos_arrendados }}</td>
        <td>{{ vestidos_mantencion }}</td>
        <td>{{ vestidos_reservados }}</td>
        <td>{{ clientes }}</td>
        <td>{{ proveedores }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}