{% extends "base_generic.html" %}

{% block content %}
  <h3>Datos Cliente </h3>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="">Nombre</th>
        <th scope="">Apellidos</th>
        <th scope="">RUT</th>
        <th scope="">email</th>
        <th scope="">Teléfono</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cliente.nombre}}</td>
        <td>{{ cliente.apellidos}}</td>
        <td>{{ cliente.rut}}</td>
        <td>{{ cliente.email }}</td>
        <td> {{ cliente.telefono }}</td>
      </tr>
    </tbody>
  </table>

  
{% endblock %}