{% extends "base_generic.html" %}

{% block content %}
<h4 style ="color:blue"> Datos de Clientes: </h4>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="">NOMBRE</th>
        <th scope="">APELLIDO</th>
        <th scope="">RUT</th>
        <th scope="">EMAIL</th>
        <th scope="">TELEFONO</th>
        <th scope="">COMENTARIO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cliente.nombre}}</td>
        <td>{{ cliente.apellidos}}</td>
        <td>{{ cliente.rut}}</td>
        <td>{{ cliente.email }}</td>
        <td> {{ cliente.telefono }}</td>
        <td> {{ cliente.comentario }}</td>
      </tr>
    </tbody>
  </table>

  
{% endblock %}