{% extends "base_generic.html" %}

{% block content %}
  <h2>Datos Reserva </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="">CLIENTE</th>
        <th scope="">SKU</th>
        <th scope="">FECHA RESERVADA</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><a href="{% url 'detalle-cliente' reserva.pk %}">{% for cliente in reserva.cliente.all %} {{ cliente }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></td>
        <td><a href="{% url 'detalle-vestido' reserva.pk %}"> {{ reserva.sku }}</a></td>
        <td>{{ reserva.fecha_reservada }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}