{% extends "base_generic.html" %}

{% block content %}
    <h2>Reservados</h2>
    
    {% if reserva_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="">SKU</th>
      <th scope="">CLIENTE</th>
      <th scope="">FECHA RESERVADA</th>
      <th scope="">ACTUALIZAR RESERVA</th>
    </tr>
  </thead>
  <tbody>
    {% for reserva in reserva_list %}
    <tr>
       <td><a href="{% url 'detalle-vestido' reserva.pk %}"> {{ reserva.sku }}</a></td>
       <td><a href="{% url 'detalle-cliente' reserva.pk %}">{% for cliente in reserva.cliente.all %} {{ cliente }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></td>
       <td>{{reserva.fecha_reservada}}</td>
       <td><a href="{% url 'reserva_update' reserva.pk %}">Actualizar reserva cliente</a> </td> <td style ="color:blue"> </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% else %}
<p>No hay vestidos reservados.</p>
{% endif %}
{% endblock %}