{% extends "base_generic.html" %}

{% block content %}
  <h3>{{ vestido.nombre }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reservas : <strong>{{ vestido.reservado}}</strong> </h3>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="">SKU </th>
        <th scope="">NOMBRE </th>
        <th scope="">TALLA  </th>
        <th scope="">CATEGORIA</th>
        <th scope="">DETALLE</th>
        <th scope="">RESERVA</th>
    </thead>
    
    <tbody>
      <tr>
        <td>{{ vestido.sku }}</td>
        <td>{{ vestido.nombre }}</td>
        <td>{{ vestido.talla }}</td>
        <td>{{ vestido.categoria }}</td>
        <td>{{ vestido.detalle }}</td>
        <td><strong>{{ vestido.reservado}}</strong></td>
      </tr>
    </tbody>
  </table>

  <div style="margin-left:40px;margin-top:30px">
    
    <h5>Historial de Arriendos</h5>
    <br>

<table class="table table-striped">
      <thead>
        <tr>
          <th scope="">CLIENTE</th>
          <th scope="">FECHA INICIO</th>
          <th scope="">DEBE DEVOLVER</th>
          <th scope="">FECHA QUE DEVOLVIÓ</th>
          <th scope="">COMENTARIO</th>
          <th scope="">CREADO</th>
          <th scope="">MODIFICADO</th>
        </tr>
      </thead>

      <tbody>
        {% for copy in vestido.arriendo_set.all %}
        <tr>
            <td><a href="{% url 'detalle-cliente' vestido.pk %}">{% for cliente in copy.cliente.all %} {{ cliente }}{% if not forloop.last %}, {% endif %}{% endfor %} </a></td>
            <td>{{copy.fecha_inicio}}</td>
            <td>{{copy.fecha_a_devolver}}</td>
            <td>{{copy.fecha_que_devolvio}}</td>
            <td>{{copy.comentario}}</td>
            <td>{{copy.creado}}</td>
            <td>{{copy.modificado}}</td>
        </tr>
        {% endfor %}
        
       
      </tbody>
      
</table>
{% endblock %}