{% extends "base_generic.html" %}

{% block content %}
    <h3>Vestidos </h3>
    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="">Vestido</th>
          <th scope="">Sku</th>
          <th scope="">Status</th>
          <th scope="">Modificar Status </th>
          <th scope="">Reserva</th>
          <th scope="">Fecha Reservada</th>
        </tr>
      </thead>

      <tbody>
        {% if vestido_list  %}
        {% for vestido in vestido_list %}
        <tr>
            <td><a href="{{ vestido.get_absolute_url }}"> {{ vestido.nombre }}</a></td>
            <td>{{vestido.sku}}</td>
            <td>{{vestido.status}}</td>
            <td><a href="{% url 'vestido_update' vestido.pk %}">Modificar status</a></td>
            <td>{{vestido.reservado}}</td>
            <td>{{vestido.fecha_reservada}}</td>
        </tr>
          {% endfor %}
        {% else %}
        <p>No hay vestidos en la tienda.</p>
        {% endif %} 
      </tbody>
      
    </table>


{% endblock %}



